@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");
@import url("https://fonts.googleapis.com/css2?family=Merriweather:ital,opsz,wght@0,18..144,300..900;1,18..144,300..900&family=Poppins:wght@100;300;400;700&display=swap");
:root {
  --primary-color: #357529;
  --secondary-color: #fdc10e;
  --text-dark: #171717;
  --text-light: #737373;
  --extra-light: #f4f6f5;
  --white: #ffffff;
  --max-width: 1200px;
}

html {
  scroll-behavior: smooth;
  background-color: #ffffff;
}

* {
  font-family: "Poppins", sans-serif;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  scroll-padding-top: 2rem;
}

img {
  display: flex;
  width: 100%;
}

a {
  text-decoration: none;
  transition: 0.3s;
}

ul {
  list-style: none;
}

.nav-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 5%;
  position: relative;
}

.nav-logo img {
  height: 110px;
}

.nav-links ul li a {
  color: var(--text-dark);
  padding: 10px;
  cursor: pointer;
  transition: 0.3s;
}

.nav-links ul li a:hover {
  /* text-decoration: none;
  color: var(--primary-color);
  padding: 10px; */
  background-color: var(--primary-color);
  border-radius: 5rem;
  color: var(--extra-light);
  transition: backround 0.5s smooth;
}

.logo img {
  height: 100px;
  max-height: 100%;
}

.thankyou-img {
  max-width: 300px;
  margin-bottom: 1.5rem;
  border-radius: 10px;
}

.thankyou-banner {
  background-image: url("../assets/forest-landscape.jpg");
  background-size: cover;
  background-position: center;
  padding: 6rem 2rem;
  text-align: center;
  color: white;
  position: relative;
  min-height: 541px;
}

.thankyou-banner::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(1px);
  z-index: 1;
}

.thankyou-overlay {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  transform: translate(0, 120px);
  position: relative;
  z-index: 2;
}

.thankyou-overlay h1 {
  font-size: 2.5rem;
  font-weight: bold;
  margin-bottom: 1rem;
  color: var(--secondary-color);
}

.thankyou-overlay p {
  font-size: 1.2rem;
  color: #fff;
}

.btn-home {
  display: inline-block;
  margin-top: 2rem;
  padding: 0.8rem 1.5rem;
  background-color: #388e3c;
  color: #fff;
  border-radius: 5px;
  text-decoration: none;
  font-weight: bold;
}

.btn-home:hover {
  background-color: #2e7d32;
}

footer {
  background-color: var(--extra-light);
}

.footer_container {
  display: flex;
  justify-content: space-between;
  max-width: var(--max-width);
  margin: auto;
  padding: 1rem 1rem;
}

.footer_logo {
  width: 150px;
  margin-top: -2rem;
  margin-bottom: -2rem;
}

.footer_col p {
  max-width: 300px;
  margin-block: 2rem;
  color: var(--text-light);
}

.footer_socials {
  display: flex;
  align-items: center;
  gap: 1rem;
  flex-wrap: wrap;
  margin-top: -2rem;
}

.footer_socials a {
  display: inline-block;
  padding: 7px 10px;
  font-size: 1.25rem;
  color: var(--text-dark);
  border-radius: 100%;
}

.footer_socials a:hover {
  background-color: var(--primary-color);
  color: var(--white);
}

.footer_col h4 {
  margin-bottom: 2rem;
  font-size: 1.2rem;
  font-weight: 600;
  color: var(--text-dark);
}

.footer_links {
  display: grid;
  gap: 1rem;
  padding: 0;
}

.footer_links a {
  display: flex;
  align-items: center;
  gap: 10px;
  color: var(--text-light);
}

.footer_links a:hover {
  color: var(--primary-color);
}

.footer_links a span {
  font-size: 1.25rem;
}

.footer_bar {
  padding: 1rem;
  font-size: 0.7rem;
  color: var(--text-light);
  text-align: center;
  text-decoration: none;
}
