@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");
@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,opsz,wght@0,18..144,300..900;1,18..144,300..900&family=Poppins:wght@100;300;400;700&display=swap');

:root {
  --primary-color: #357529;
  --secondary-color: #fdc10e;
  --text-dark: #171717;
  --text-light: #737373;
  --extra-light: #f4f6f5;
  --white: #ffffff;
  --max-width: 1200px;
}
p {
 text-align: justify;
}

html {
  scroll-behavior: smooth;
  background-color: #ffffff;
}

* {
  font-family: 'Poppins', sans-serif;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  scroll-padding-top: 2rem;
}

img {
  display: flex;
  width: 100%;
}

a {
  text-decoration: none;
  transition: 0.3s;
}

ul {
  list-style: none;
}

.nav-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 5%;
  position: relative;
}

.nav-logo img {
  height: 110px;
}


.nav-links ul {
  display: flex;
  gap: 18px;
  list-style: none;
  padding: 0;
  margin: 0;
}

.nav-links ul li a {
  text-decoration: none;
  color: var(--text-dark);
  padding: 10px;
  cursor: pointer;
  transition: 0.3s;
}

.nav-links ul li a:hover {
  /* text-decoration: none;
  color: var(--primary-color);
  padding: 10px; */
  background-color: var(--primary-color);
  border-radius: 5rem;
  color: var(--extra-light);
  transition: backround 0.5s smooth;
}



.header_hutan {
    background-image: linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.7)), url("../assets/Premium\ Photo\ _\ Indonesian\ scenery\ tropical\ forest\ waterfalls\ with\ beautiful\ green\ leaves.jpeg");
    background-size: cover;                 
    background-position: center;                
    background-repeat: no-repeat;               
    height: 450px;                                                        
    display: flex;                              
    align-items: center;                        
    justify-content: center;     
}

.header_content {
    color: #F6E743;  
    font-family: "Inter", Arial, sans-serif; 
    font-size: 70px;
    font-weight: 700;   
}
.header_content h1{
    font-size: 5rem;
    font-weight: 700;
}

.title{
    color: #357529;
    font-size: 70px;
    margin-top: 30px;
    margin-left: 50px;
    margin-bottom: 20px;
} 

.content-1{
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: start;
    gap: 3rem;
    margin: 50px;
}

.content-1 p{
  font-size: 20px;
}

.text {
    flex: 1;
    padding-right: 20px;
    margin: 10px;
    margin-top: 0px;
    line-height: 1.6;
}

.text h2 {
    margin-bottom: 10px;
    font-size: 24px;
    font-weight: bold;
}

.container-hujan-tropis{
  display: flex;
  flex-direction:row ;
  align-items: start;
  justify-content: start;
  margin: 50px;
  text-align: justify;
  gap: 15rem;
}

.container-hujan-tropis p{
  font-size: 25px;
}

.container-hujan-tropis img{
    width: 35rem;
    height: auto;
    border-radius: 1rem;
}

.kolom-container {
  display: flex;
  gap: 20px;
  margin: 10px;
}

.kolom {
  flex: 1;
  margin: 40px;
}

.kolom h2{
  font-size: 24px;
  font-weight: bold;
}

.kolom p {
  margin: 0;
  font-size: 25px;
}



footer {
  background-color: var(--extra-light);
}

.footer_container {
  display: flex;
  justify-content: space-between;
  max-width: var(--max-width);
  margin: auto;
  padding: 1rem 1rem;
}

.footer_logo {
  width: 150px;
}

.footer_col p {
  max-width: 300px;
  margin-block: 2rem;
  color: var(--text-light);
}

.footer_socials {
  display: flex;
  align-items: center;
  gap: 1rem;
  flex-wrap: wrap;
}

.footer_socials a {
  display: inline-block;
  padding: 7px 10px;
  font-size: 1.25rem;
  color: var(--text-dark);
  border-radius: 100%;
}

.footer_socials a:hover {
  background-color: var(--primary-color);
  color: var(--white);
}

.footer_col h4  {
  margin-bottom: 2rem;
  font-size: 1.2rem;
  font-weight: 600;
  color: var(--text-dark);
}

.footer_links {
  display: grid;
  gap: 1rem;
}

.footer_links a {
  display: flex;
  align-items: center;
  gap: 10px;
  color: var(--text-light);
}

.footer_links a:hover {
  color: var(--primary-color);
}

.footer_links a span {
  font-size: 1.25rem;
}

.footer_bar {
  padding: 1rem;
  font-size: 0.7rem;
  color: var(--text-light);
  text-align: center;
}